<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Blog")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
 <h1> Рейтинг курсов </h1>

<ol>
Цели Рейтинга курсов:
    <li>Позволяет студентам задуматься о своём опыте обучения
.</li>
    <li>Предоставляет преподавателям обратную связь о том, какие элементы курсов предпочтительнее для студентов, а какие элементы стоило бы усовершенствовать</li>
</ol>



<p>
    Блок может быть размещен в любом месте в структуре курса в соответствии с замыслом преподавателя о том, в каком разделе студенту целесообразнее предоставить обратную связь. 
С помощью нескольких запросов базы данных мы можем преобразовать эту обратную связь в полезную информацию и предоставить агрегированную статистику инструкторам курсов, в том числе и отзывы студентов (анонимно).
</p>
<br>
<p>
    Блок устанавливается также, как и любой другой xblock путём его добавления в расширенных настройках </p><br>

<br>
<img src="https://online.fa.ru/static/images/2020-08-31_110452.png" width="750" height="350" border="0" alt="">
<p>Преподавателю необходимо добавить в расширенные настройки модуль <strong>rate</strong>

</p>
    <img src="https://online.fa.ru/static/images/2020-08-31_110548.png" width="650" height="350" border="0" alt="">
 <p>
    После этого, зайти в содержимое курса и при добавлении Блока , выбрать из дополнений блок  <strong>Provide Feedback</strong> в ту часть курса, где это целесооразно. Мы рекомендуем добавлять отзывы о курсе в конец курса или в разделы с экспериментальными блоками.
</p>
<br>
<img src="https://online.fa.ru/static/images/2020-08-31_110154.png" width="740" height="350" border="0" alt="">
<br>
<p>Данный блок выглядит следующим образом:</p>
<br>
<img src="https://online.fa.ru/static/images/2020-08-31_110327.png" width="640" height="350" border="0" alt="">
<br>
<p>В зависимости от целей, Вы можете отредактировать подсказки для студентов в соотвествии с Вашими пожеланиями</p>
<br>
<img src="https://online.fa.ru/static/images/2020-08-31_110351.png" width="550" height="350" border="0" alt="">
<br>
<p>После того как студенты оценят Ваш курс, на главной странице в поле информации о курсе появится его рейтинг в виде звёзд, в соответствии со средними значениями</p>
<br>
<img src="https://online.fa.ru/static/images/2020-08-31_111811.png" width="350" height="350" border="0" alt="">
<br>
<p>А на странице информации о курсе будет отображены два крайних комментария студентов о курсе (комментарии и оценки о курсе выставляются анонимно)</p>
<img src="https://online.fa.ru/static/images/2020-08-31_114204.png" width="650" height="350" border="0" alt="">
    </section>
</main>
