<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("FAQ")}</%block>
        </h1>
        <p>
Что дает такой сертификат?
Слушатель может зарегистровать свой Заверенный сертификат в своем резюме или CV (автобиографии) и включить его в свой профиль в соцсетях или профсетях. 
Многие студенты регистрируют свои курсы в резюме, CV или даже в профилях LinkedIn.
Также несколько курсов имеют рекомендацию кредитных  для перезачёта в другиз учебных заведениях. В этом случае перезачёт осуществляется по верифицируемым сертификатам на основании рекомендации.

Эту рекомендацию дал  Американский совет по образованию для оценки кредитной эквивалентности (ACE КРЕДИТ). ACE КРЕДИТ является признанным авторитетом в оценке нетрадиционного образования, имеет соглашения с более чем 2000 колледжей и университетов, которые с учетом рекомендаций ACE зачитывают кредит в определении применимости своих курсовых и дипломных программ.
Слушатель может заработать ACE Кредитную рекомендацию, подписавшись на право ST,  затем приняв онлайн очный экзамен в конце курса с использованием услуг прокторинга , с тем чтобы организовать онлайн proctoring (Proctoring - надзиратель, следящий за студентами во время экзаменов).
       </p>

    </section>
</main>
