// ------------------------------
// Open edX Certificates: Config


// ------------------------------
// #VARIABLES
// ------------------------------

// certificate characteristics
$cert-base-color: palette(grayscale, dark);
$cert-distinguished-color: palette(primary, accent);

$cert-decorative-color: palette(grayscale, back);
$cert-decorative-color-de-emphasized: palette(grayscale, back);
$cert-decorative-color-emphasized: palette(grayscale, accent);

// typography: config
@include font-face(
  'Montserrat',
    // '../../certificates/fonts/Domine/Domine-Regular-webfont',
    '../../certificates/fonts/Montserrat/montserrat-v18-cyrillic-regular',
    400,
    $file-formats: woff woff2 ttf
);
@include font-face(
  'Montserrat',
    '../../certificates/fonts/Montserrat/montserrat-v18-cyrillic-700',
    700,
    $file-formats: woff woff2 ttf
);

// typography: config - stacks
// $font-family-serif: 'Domine', serif;
$font-family-serif: 'Montserrat', serif;

